<footer class="container">
  <small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://www.11ty.dev/">Eleventy</a> version 2.0, <a href="https://liquidjs.com/">LiquidJS</a> & <a href="https://simplecss.org/">Simple.css</a> by <a href="{{site.authorUrl}}">{{ site.authorName }}</a> - <a href="{{site.github}}">GitHub repository</a></small>
</footer>